body{
    color:rgb(184, 30, 30);
}
#tay{
    color:rgb(43, 226, 202)
}
#sir{
    color:rgb(15, 216, 149)
}
#hic{
    color: rgb(146, 49, 13)
}
#hri{
    color: rgb(99, 39, 39);
}
.pg{
    color:black
}